@charset "UTF-8";

body {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 0.95em; 
    margin:0;
    padding:0;
    background:url(/background.jpg);
    background-size:cover;
}

h1 {
    margin: 10px 0;
    padding: 0;
    color: black;
    font-size: 2.0em;
    text-align: center;
}
/*
h2 {
    color: #eee;
    font-weight: bold;
    padding: 4px 0 1px 8px;
        margin: 0;
    font-size: 1.2em;
        background-color: #036;
}
*/
h3 {
    color: #eee;
    font-weight: bold;
    padding: 3px 0 1px 8px;
    margin: 0;
    font-size: 1.1em;
        background-color: #930;
}

.article {
    width: 60%;
    margin: 0 auto 15px auto;
    padding: 0 0 12px 0;
    background-color: #9ce;
}

.comment {
    margin: 10px 20px;
    padding: 0 0 12px 0;
    background-color: #ea6; 
}

.comment_link {
    text-align: right;
}

.article_link {
    width: 60%;
    margin: auto;
    text-align: right;
}

p,form {
   margin: 12px 5%;
   line-height: 1.4em;
}

.login {
    width: 60%;
    margin: auto;
    text-align: right;
}

.box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 400px;
    padding:40px;
    background:rgba(255,255,255,.8);
    box-sizing:border-box;
    box-shadow:0 15px 25px rgba(255,255,255,.5);
    border-radius:10px;
}
.box h2{
    margin:0 0 30px;
    padding:0;
    color:#000;
    text-align:center;
}
.box .inputBox{
    position:relative;
}
.box .inputBox input{
    width:100%;
    padding:10px 0;
    font-size:16px;
    color:#000;
    letter-spacing: 1px;
    margin-bottom:30px;
    border:none;
    border-bottom:1px solid #000;
    outline:none;
    background:transparent;
}
.box .inputBox label{
    position:absolute;
    top:0;
    left:0;
    letter-spacing: 1px;
    padding:10px 0;
    font-size:16px;
    color:#000;
    pointer-events:none;
    transition:.5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top:-18px;
    left:0;
    color:#454849;
    font-size:12px;
}
.box input[type="submit"]{
    background:transparent;
    border:none;
    outline:none;
    color:#fff;
    background:#454849;
    padding:10px 20px;
    cursor:pointer;
    border-radius:5px;
}
.return{
    position: absolute;
    top:10%;
    left:10%;
    transform:translate(-50%,-50%);
    
}
.return ion-icon{
    font-size:60px;
    color:#fff;
}